*{margin: 0;padding: 0;}
body{color: white;font-family: Arial;}
.father{margin: 2px;border-radius: 5px;transition: all 0.5s;padding-bottom: 10px;}
.cover{margin: 20px;background-color: rgb(27,28,29);width: 50%;border-radius: 5px;height: 20%;}
.inner{padding: 15px 0px;width: 100%;}
.triangle{width: 0;height: 0;border-top:5px solid transparent;border-right:5px solid transparent;border-left: 5px solid white;border-bottom: 5px solid transparent;display: inline-block;}
.down{border-top:5px solid white;border-right:5px solid transparent;border-left: 5px solid transparent;border-bottom: 5px solid transparent;}
.baseContent{opacity: 1;transition: all 0.5s;padding: 0 10px;}
.hide{opacity: 0;}
.switch{cursor: pointer;padding: 10px 10px;}
.switch:hover{color: lightgray;}

